*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-bg: hsl(38, 36%, 96%);
  --clr-primary: hsl(0, 0%, 100%);
  --clr-dark: hsl(252, 7%, 13%);

  --clr-font-1: hsl(280, 3%, 17%);
  --clr-font-2: hsl(252, 7%, 13%);
  --clr-font-3: hsl(252, 3%, 63%);
  --clr-font-4: hsl(240, 1%, 71%);

  --font-size: 1.35rem;

  --clr-border-1: hsl(177, 31%, 38%);
  --clr-border-2: hsl(189, 46%, 73%);
  --clr-border-3: hsl(250, 5%, 45%);
  --clr-border-4: hsl(29, 62%, 84%);
}
* {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  font-size: var(--font-size);
  color: var(--clr-font-1);
  height: 100vh;
  background: var(--clr-bg);
}
.personal-finance-container {
  overflow: auto;
}
.personal-finance-container > h2 {
  margin: 3rem;
  font-size: 2.25rem;
  font-weight: 800;
  letter-spacing: -2px;
}
.header-stats {
  color: var(--clr-font-1);
  display: flex;
  gap: 1.5rem;
  margin: 1rem 3rem;
  margin-top: -15px;
}
.header-stats > div {
  padding: 23px 200px 23px 20px;
  line-height: 2.5rem;
  background: var(--clr-primary);
  border-radius: 10px;
  box-shadow: -1px -1px 8px hsl(228, 55%, 90%);
}
.header-stats h3[class*="title"] {
  color: var(--clr-font-3);
  font-size: 1rem;
}
.header-stats span[class*="text"] {
  font-size: 2.25rem;
  font-weight: 600;
}
.header-stats > :first-child {
  color: var(--clr-primary);
  background: var(--clr-dark);
}
section {
  margin: 0 50px;
}
.pots {
  background: var(--clr-primary);
  border-radius: 10px;
}
.pots__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.pots__header > span {
  font-size: 1rem;
  color: var(--clr-font-3);
  font-weight: bold;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s;
}
.pots__header > span:hover {
  border-bottom-color: var(--clr-font-3);
}
.pots__header > span::after {
  content: "keyboard_arrow_up";
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 8px;
}
.pots-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "totalSaved savings gift"
    "totalSaved ticket laptop";
  gap: 1.35rem;
  padding-bottom: 30px;
}
.pots.non-expanded .pots-stats {
  display: none;
}
.pots.non-expanded .pots__header > span::after {
  content: "keyboard_arrow_down";
}
.pots-stats > :not(:first-child) {
  padding: 2px 15px;
  line-height: 1.75rem;
}
.pots-stats > :not(:first-child) p {
  font-size: 1.15rem;
  font-weight: 600;
}
.pots-stats__total-saved {
  grid-area: totalSaved;
  background: var(--clr-bg);
  padding: 0 20px;
  width: 350px;
  margin-left: 30px;
  line-height: 2.2rem;
  position: relative;
  align-content: center;
}
.pots-stats span {
  color: var(--clr-font-3);
  font-size: 1rem;
  font-weight: 600;
}
.pots-stats__total-saved :first-child {
  position: absolute;
  top: 50%;
  left: 15px;
  translate: 0 -50%;
  font-size: 2.75rem;
  color: var(--clr-border-1);
  font-weight: normal;
}
.pots-stats__total-saved :not(:first-child) {
  padding-left: 60px;
}
.pots-stats__total-saved > p {
  font-size: 2rem;
  font-weight: 700;
}
.pots-stats__savings {
  grid-area: savings;
  border-left: 5px solid var(--clr-border-1);
}
.pots-stats__gift {
  grid-area: gift;
  border-left: 5px solid var(--clr-border-2);
}
.pots-stats__ticket {
  grid-area: ticket;
  border-left: 5px solid var(--clr-border-3);
}
.pots-stats__laptop {
  grid-area: laptop;
  border-left: 5px solid var(--clr-border-4);
}
.transactions {
  margin-top: 30px;
  background: var(--clr-primary);
  padding: 30px 40px;
}
.transactions__header,
.transactions__list .list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transactions__header {
  padding-bottom: 20px;
}
.transactions__header > span {
  font-size: 1rem;
  color: var(--clr-font-3);
  font-weight: bold;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s;
}
.transactions__header > span:hover {
  border-bottom-color: var(--clr-font-3);
}
.transactions__header > span::after {
  content: "keyboard_arrow_up";
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 8px;
}
.transactions__list {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.transactions.non-expanded .transactions__list {
  display: none;
}
.transactions.non-expanded .transactions__header > span::after {
  content: "keyboard_arrow_down";
}
.transactions__list .list-item {
  border-left: 4px solid var(--clr-font-1);
  padding: 30px 20px;
}
.transactions__list .list-item__contacts > :first-child {
  font-size: 2.35rem;
  color: var(--clr-font-1);
  font-weight: normal;
  vertical-align: middle;
}
.transactions__list .list-item__contacts > :last-child {
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 15px;
}
.transactions__list .list-item__stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.transactions__list .list-item__stats > span[class] {
  font-size: 1.25rem;
  font-weight: bold;
}
.transactions__list .list-item__stats--plus {
  --clr-plus: hsl(84, 54%, 59%);
  color: var(--clr-plus);
}
.transactions__list .list-item__stats--minus {
  --clr-minus: hsl(0, 65%, 63%);
  color: var(--clr-minus);
}
.transactions__list .list-item__stats span:last-child {
  font-size: 1rem;
  color: var(--clr-font-3);
}
.budgets {
  margin-top: 30px;
  padding: 30px 40px;
  background: var(--clr-primary);
}
.budgets__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.budgets__header > span {
  font-size: 1rem;
  color: var(--clr-font-3);
  font-weight: bold;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s;
}
.budgets__header > span:hover {
  border-bottom-color: var(--clr-font-3);
}
.budgets__header > span::after {
  content: "keyboard_arrow_up";
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 8px;
}
.budgets__stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.budgets__stats-container img {
  width: 300px;
  height: 300px;
}
.budgets__stats {
  display: grid;
  justify-content: end;
}
.budgets__stats > * {
  padding: 4px 15px;
  margin: 8px 0;
  border-left: 4px solid;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
}
.budgets__stats :nth-child(4n + 1) {
  border-left-color: var(--clr-border-1);
}
.budgets__stats :nth-child(4n + 2) {
  border-left-color: var(--clr-border-2);
}
.budgets__stats :nth-child(4n + 3) {
  border-left-color: var(--clr-border-4);
}
.budgets__stats h4:first-of-type {
  color: var(--clr-font-3);
}
.budgets.non-expanded .budgets__stats-container {
  display: none;
}
.budgets.non-expanded .budgets__header > span::after {
  content: "keyboard_arrow_down";
}
.recurring-bills {
  margin-top: 30px;
  padding: 30px 40px;
  background: var(--clr-primary);
  margin-bottom: 150px;
}
.recurring-bills__header,
.recurring-bills__stats > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recurring-bills__header {
  padding-bottom: 20px;
}
.recurring-bills__header > span {
  font-size: 1rem;
  color: var(--clr-font-3);
  font-weight: bold;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s;
}
.recurring-bills__header > span:hover {
  border-bottom-color: var(--clr-font-3);
}
.recurring-bills__header > span::after {
  content: "keyboard_arrow_up";
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 8px;
}
.recurring-bills__stats {
  margin: 0 20px 0 20px;
}
.recurring-bills__stats > * {
  background: var(--clr-bg);
  padding: 20px;
  margin: 20px 0;
  border-left: 4px solid;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}
.recurring-bills__stats :nth-child(3n) {
  border-left-color: var(--clr-border-2);
}
.recurring-bills__stats :nth-child(3n + 1) {
  border-left-color: var(--clr-border-1);
}
.recurring-bills__stats :nth-child(3n + 2) {
  border-left-color: var(--clr-border-4);
}
.recurring-bills__stats span:first-child {
  color: var(--clr-font-3);
}
.recurring-bills.non-expanded .recurring-bills__stats {
  display: none;
}
.recurring-bills.non-expanded .recurring-bills__header > span::after {
  content: "keyboard_arrow_down";
}
.recurring-bills__stats .list-item {
  border-left: 4px solid var(--clr-font-1);
  padding: 30px 20px;
}
.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 90px;
  background: var(--clr-dark);
  margin: 0;
}
.nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.nav-bar li {
  transition: 0.3s;
}
.nav-bar li:hover {
  border-bottom: 5px solid var(--clr-border-1);
}
.nav-bar li.active {
  background: var(--clr-bg);
  border: none;
  transition: 0.5s;
}
.nav-bar li.active a {
  color: var(--clr-border-1);
  border-bottom: 5px solid var(--clr-border-1);
}
.nav-bar li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 12px 30px;
  gap: 10px;
  color: var(--clr-border-3);
  color: var(--clr-font-4);
  font-size: 1rem;
  font-weight: bold;
}
.nav-bar li a i {
  font-size: 1.5rem;
}
.nav-bar li:nth-child(3) i {
  rotate: 90deg;
}
.nav-bar li:nth-child(4) i {
  rotate: 180deg;
}

/* Media queries */

@media (max-width: 1240px) {
  .personal-finance-container > h2 {
    margin-inline: 25px;
  }
  .header-stats {
    flex-direction: column;
    margin-inline: 25px;
  }
}
@media (max-width: 768px) {
  .pots-stats {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "totalSaved totalSaved"
    "savings gift"
    "ticket laptop";
    gap: 1rem;
    padding: 0;
  }
  .pots-stats__total-saved {
    padding: 30px;
    width: 80%;
  }
  .pots-stats > div {
    height: fit-content;
    margin-left: 40px;
  }
  section {
    margin: 0 25px;
  }
  .transactions {
    padding-inline: 10px;
  }
  .transactions .transactions__list > div {
    padding-inline: 10px;
  }
  .budgets .budgets__stats-container {
    flex-direction: column;
  }
  .budgets .budgets__stats {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .recurring-bills {
    padding-inline: 20px;
  }
  .recurring-bills .recurring-bills__stats {
    margin-inline: 0;
  }
  .nav-bar ul li a {
    padding-inline: 10px;
    font-size: 0.75rem;
  }
  .nav-bar {
    overflow: auto;
  }
}
